services:
  api:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - ".env"
    depends_on:
      rabbitmq:
        condition: service_healthy
      mongo:
        condition: service_started

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
  
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 5s
      timeout: 5s
      retries: 10